<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">
	<meta content="doctors, doctors, patient, treatment" name="keywords">
	<meta content="all" name="robots">

	<title>DoctorsFor.me</title><!-- Bootstrap Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl.transitions.css" rel="stylesheet">
	<link href="assets/css/animate.min.css" rel="stylesheet">
	<link href="assets/css/config.css" rel="stylesheet">
	<link href="assets/css/custom-dfm.css" rel="stylesheet">
	<link href="assets/css/blue.css" rel="stylesheet" title="Blue color"><!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Kaushan+Script' rel='stylesheet' type='text/css'><!-- Icons/Glyphs -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet"><!-- Favicon -->
	<link href="assets/images/favicon.ico" rel="shortcut icon"><!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
	<!--[if lt IE 9]>
            <script src="assets/js/html5shiv.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    
    <!-- angularJs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js">
	</script>
	<script src="https://rubaxa.github.io/Sortable/Sortable.js">
	</script>
	<script src="https://rubaxa.github.io/Sortable/ng-sortable.js">
	</script>
	<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript">
	</script>
	<script src="assets/scripts/dirPagination.js">
	</script>
	<script src="assets/bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js" type="text/javascript">
	</script>
    
    <!-- Internal CSS -->
	<style>
	              .add-review{
	                  margin: 0;
	              }
	              .reviewTitle{
	                  display: inline-block;
	              }
	              .reviewClose{
	                  display: inline-block;
	              }
	              .succMsg,
	              .succMsgClose{
	                  display: inline-block;
	              }
	</style>
</head>

<body ng-app="myApp" ng-controller="appointmentController">
	<div class="wrapper">
        <!-- top nav bar starts here -->
		<nav class="top-bar animate-dropdown">
			<div class="container" ng-cloak="">
				<div class="col-xs-12 col-md-4 no-margin logo-main">
					<a href="index.html">DoctorsFor.me</a>
				</div>
				<div class="col-xs-12 col-md-8 no-margin">
					<ul class="right">
						<li class="nav-li">
							<a href="index.html" role="menuitem" tabindex="-1"><i aria-hidden="true" class="fa fa-search"></i> Search Doctors</a>
						</li>
						<li class="nav-li">
							<a href="view-appointments.html" role="menuitem" tabindex="-1"><i aria-hidden="true" class="fa fa-book"></i> Appointments</a>
						</li>
						<li class="nav-li ng-hide" ng-show="!loggedIn">
							<a href="login.html"><i aria-hidden="true" class="fa fa-sign-in"></i> Login</a>
						</li>
						<li class="nav-li ng-hide" ng-show="!loggedIn">
							<a href="signup.html"><i aria-hidden="true" class="fa fa-user"></i> Signup</a>
						</li>
						<li class="nav-li ng-hide" ng-show="loggedIn">
							<a href="profile.html"><i aria-hidden="true" class="fa fa-user"></i> Profile</a>
						</li>
						<li class="nav-li ng-hide" ng-click="signoutButtonClick();" ng-show="loggedIn">
							<a href="#">{{fullname}} | <i aria-hidden="true" class="fa fa-sign-out"></i> Signout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- top nav bar ends here -->

        
		<main id="authentication">
			<div class="container">
				<div class="row">
                    <!-- left area (mascot) start here-->
					<div class="row-eq-height">
						<div class="col-md-4 col-xs-12">
							<div class="logo" style="margin: 5% auto">
								<table style="margin: 0 auto; height: 100%">
									<tr>
										<td><img src="./assets/images/custom/panda_logo_top_2.jpg" width="150">
										</td>
									</tr>


									<tr>
										<td>
											<div class="panda-board">
												<span class="panda-text ng-hide" ng-show="loggedIn">View your Appointments!</span> <span class="panda-text ng-hide" ng-show="!loggedIn">It's awsome to see you again!</span>
											</div>
										</td>
									</tr>


									<tr>
										<td><img src="./assets/images/custom/panda_logo_bottom_2.jpg" width="150">
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
                    <!-- left area (mascot) end here-->
                    
                    <!-- right area (appointments) end here-->
					<div class="col-xs-12 col-md-8 items-holder no-martin">
                        <!-- upcomming appointmet list starts here -->
						<div class="container" ng-cloak="">
							<h1>Upcoming Appointments</h1>
							<div ng-repeat="app in appList | futureFilter">
								<div class="row no-margin cart-item">
									<div class="col-xs-12 col-md-4">
										<div class="title">
											Appointment with <a href="#">{{app.name}}</a>
										</div>
										<div class="a-details">
											<label>Time:&nbsp;</label>{{app.date| dateFilter}} {{app.time | timeFilter}}<br>
											<span ng-show="isPatient"><label>Location:&nbsp;</label>{{app.address}}</span> <span ng-show="!isPatient"><label>Location:&nbsp;</label>{{docLocation}}</span>
										</div>
									</div>
									<div class="col-xs-12 col-md-4">
										<button class="btn le-button" ng-click="rescheduleApp(app)" ng-show="isPatient" type="button">Reschedule</button> <button class="btn le-button" confirmed-click="cancelApp(app.appointment_id)" ng-confirm-click="Are you sure to cancel this appointment?" type="button">Cancel</button>
									</div>
								</div>
								<hr>
							</div>
						</div>
                        <!-- upcomming appointment list ends here -->

                        <!-- past appointmet list starts here -->
						<div class="container">
							<h1>Past Appointments</h1>
							<div class="col-xs-8 items-holder no-margin" ng-cloak="" ng-repeat="app in appList | pastFilter">
								<div>
									<div class="row no-margin cart-item">
										<div class="col-xs-12 col-md-8">
											<div class="title">
												Appointment with <a href="#">{{app.name}}</a>
											</div>
											<div class="a-details">
												<label>Time:&nbsp;</label>{{app.date| dateFilter}} {{app.time | timeFilter}}<br>
												<span ng-show="isPatient"><label>Location:&nbsp;</label>{{app.address}}</span> <span ng-show="!isPatient"><label>Location:&nbsp;</label>{{docLocation}}</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<button class="btn le-button" ng-click="$parent.selectedIndex=$index;setFormShow(true);setSuccessReviewShow(false)" ng-show="isPatient" type="button">Submit Review</button>
										</div>
									</div>
                                    
									<!-- feedback form starts here -->
									<div class="add-review row" ng-show="$index==$parent.selectedIndex&&formShow===true">
										<div class="col-xs-12 col-md-10">
											<div class="new-review-form">
												<h2 class="reviewTitle">Add review</h2>
												<button aria-label="Close" class="close reviewClose" ng-click="setFormShow(false)" type="button"><span aria-hidden="true">&times;</span></button>
												<form class="contact-form" id="contact-form" method="post" name="contact-form">
													<div class="field-row">
														<label>Your rating</label>

														<div max="5" rating-value="review.score" star-rating="">
														</div>
													</div>
													<div class="field-row">
														<label>Your feedback</label> 

														<textarea class="le-input" ng-model="review.comment" rows="8"></textarea>
													</div>
													<div class="buttons-holder">
														<button class="le-button huge" ng-click="review.doctor_id=app.doctor_id;sendReview()" type="submit">submit</button>
													</div>
												</form>
											</div>
										</div>
									</div>
                                    
                                    <!-- success message ares start here -->
									<div class="col-xs-12 col-md-8" ng-show="successReviewShow===true&&$index==$parent.selectedIndex">
										<h4 class="succMsg">You have successfully submitted your review!</h4>
										<button aria-label="Close" class="close succMsgClose" ng-click="setSuccessReviewShow(false)" type="button"><span aria-hidden="true">&times;</span></button>
									</div>
                                    <!-- success message ares end here -->
								</div>
								<hr>
								<!-- feedback form ends here -->
							</div>
						</div>
                        <!-- past appointment list ends here -->
					</div>
				</div>
			</div>
		</main>

        <!-- Footer start here -->
		<footer class="color-bg" id="footer">
			<div class="container">
				<div class="container no-padding">
					<div class="col-xs-12 col-md-12">
						<img src="./assets/images/custom/panda_peeping.gif" style=" z-index: -100; max-width:50%" width="120">

						<div class="contact-info" style="width:50%;float:right">
							<div class="footer-logo logo-main">
								<a>DoctorsFor.me</a>
							</div>
							<br>
							<p class="regular-bold">Office address:</p>
							<p>Administration Building, 400 Bizzell St, College Station, TX 77843</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-8 no-margin">
					</div>
				</div>
				<div class="copyright-bar">
					<div class="container">
						<div class="col-xs-12 col-sm-11 no-margin">
							<div class="copyright">
								&copy; <a href="index.html">DoctorsFor.me</a> - all rights reserved
								<ul class="footer-social" style="text-align: center">
									<li>
										<a class="fa fa-facebook" href="https://facebook.com"></a>
									</li>
									<li>
										<a class="fa fa-twitter" href="#"></a>
									</li>
									<li>
										<a class="fa fa-linkedin" href="#"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
        <!-- Footer end here -->
	</div>
    
	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/angularController.js">
	</script> 
	<script src="assets/js/jquery-1.10.2.min.js">
	</script> 
	<script src="assets/js/jquery-migrate-1.2.1.js">
	</script> 
	<script src="assets/js/bootstrap.min.js">
	</script> 
	<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en">
	</script> 
	<script src="assets/js/gmap3.min.js">
	</script> 
	<script src="assets/js/bootstrap-hover-dropdown.min.js">
	</script> 
	<script src="assets/js/owl.carousel.min.js">
	</script> 
	<script src="assets/js/css_browser_selector.min.js">
	</script> 
	<script src="assets/js/echo.min.js">
	</script> 
	<script src="assets/js/jquery.easing-1.3.min.js">
	</script> 
	<script src="assets/js/bootstrap-slider.min.js">
	</script> 
	<script src="assets/js/jquery.raty.min.js">
	</script> 
	<script src="assets/js/jquery.prettyPhoto.min.js">
	</script> 
	<script src="assets/js/jquery.customSelect.min.js">
	</script> 
	<script src="assets/js/wow.min.js">
	</script> 
	<script src="assets/js/scripts.js">
	</script> 
	<script src="http://w.sharethis.com/button/buttons.js">
	</script>
</body>
</html>