/* CSS base file website for desktop layout */
.light-bg {
  background-color: #f8f8f8;
}
.inner {
  padding-top: 75px;
  padding-bottom: 75px;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-t-35 {
  margin-top: 35px !important;
}
.semi-bold {
  font-weight: 600 !important;
}
.title-color {
  color: #434343 !important;
}
.content-color {
  color: #747474 !important;
}
.bold {
  font-weight: 700 !important;
}
.auto-width {
  width: auto !important;
}
.center-block {
  float: none;
}
.inner {
  padding-top: 120px;
  padding-bottom: 120px;
}
.inner-md {
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}
.inner-xs {
  padding-top: 40px;
  padding-bottom: 40px;
}
.inner-top {
  padding-top: 120px;
}
.inner-top-md {
  padding-top: 100px;
}
.inner-top-sm {
  padding-top: 80px;
}
.inner-top-xs {
  padding-top: 40px;
}
.inner-bottom {
  padding-bottom: 120px;
}
.inner-bottom-md {
  padding-bottom: 100px;
}
.inner-bottom-sm {
  padding-bottom: 80px;
}
.inner-bottom-xs {
  padding-bottom: 40px;
}
.inner-left {
  padding-left: 75px;
}
.inner-left-md {
  padding-left: 60px;
}
.inner-left-sm {
  padding-left: 45px;
}
.inner-left-xs {
  padding-left: 30px;
}
.inner-right {
  padding-right: 75px;
}
.inner-right-md {
  padding-right: 60px;
}
.inner-right-sm {
  padding-right: 45px;
}
.inner-right-xs {
  padding-right: 30px;
}
.outer {
  margin-top: 120px;
  margin-bottom: 120px;
}
.outer-md {
  margin-top: 100px;
  margin-bottom: 100px;
}
.outer-sm {
  margin-top: 80px;
  margin-bottom: 80px;
}
.outer-xs {
  margin-top: 40px;
  margin-bottom: 40px;
}
.outer-top {
  margin-top: 120px;
}
.outer-top-md {
  margin-top: 100px;
}
.outer-top-sm {
  margin-top: 80px;
}
.outer-top-xs {
  margin-top: 40px;
}
.outer-bottom {
  margin-bottom: 120px;
}
.outer-bottom-md {
  margin-bottom: 100px;
}
.outer-bottom-sm {
  margin-bottom: 80px;
}
.outer-bottom-xs {
  margin-bottom: 40px;
}

/* CSS base file website for mobile/handheld layout */
@media (max-width: 767px) {
  .inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .inner-md {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .inner-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inner-xs {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .inner-top {
    padding-top: 80px;
  }
  .inner-top-md {
    padding-top: 65px;
  }
  .inner-top-sm {
    padding-top: 50px;
  }
  .inner-top-xs {
    padding-top: 40px;
  }
  .inner-bottom {
    padding-bottom: 80px;
  }
  .inner-bottom-md {
    padding-bottom: 65px;
  }
  .inner-bottom-sm {
    padding-bottom: 50px;
  }
  .inner-bottom-xs {
    padding-bottom: 40px;
  }
}
/* Import fontawesome */
.fontawesome {
  font-family: fontawesome;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.thumb-holder {
  float: left;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
.h1,
h1 {
  font-size: 28px;
  line-height: 52px;
  font-weight: 500!important;
  color: #3D3D3D;
  letter-spacing: -1px;
  text-transform: capitalize;
}
.h1.border,
h1.border {
  border-bottom: 1px solid #e0e0e0;
  line-height: 50px;
}
h2 {
  font-size: 18px;
  line-height: 37px;
  letter-spacing: -1px;
  text-transform: capitalize;
}
h2.border {
  border-bottom: 1px solid #e0e0e0;
  line-height: 50px;
}
.iconic-link {
  color: #3D3D3D;
  font-size: 12px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  text-transform: capitalize;
}
.iconic-link:before {
  margin: 0 5px 0 0;
  font-size: 18px;
  color: #c6c6c6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: fontawesome;
}
.availability {
  font-size: 11px;
  line-height: 9px;
  margin: 10px 0 15px 0;
  color: #707070;
  font-weight: 600;
  text-transform: capitalize;
}
.availability span {
  margin: 0 0 0 3px;
}
.availability .available {
  color: #59B210;
  font-weight: 700 !important;
  font-weight: 800;
  text-transform: capitalize;
}
ul {
  list-style: none;
}
.font-opensans {
  font-family: 'Open Sans', sans-serif;
}
.color-bg {
  background-color: #F9F9F9;
  border-top: 1px solid #e0e0e0;
}
img {
  width: auto\9;
  max-width: 100%;
}
.no-margin {
  padding: 0;
  margin: 0;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.caroufredsel_wrapper {
  margin: 0!important;
  width: 100%!important;
}
.caroufredsel_wrapper ul {
  padding-left: 0!important;
}
* {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-size: 15px;
  color: #5D5D5D;
  background-color: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  color: #fff;
  text-shadow: none;
  -webkit-text-shadow: none;
}
::selection {
  color: #fff;
  text-shadow: none;
  -webkit-text-shadow: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none!important;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600!important;
}
.capital {
  text-transform: capitalize;
}
#loading {
  display: none;
}
/*===================================================================================*/
/*  Responsive Layout
/*===================================================================================*/
select.top-drop-menu {
  margin: 10px 0 0 0;
  padding: 10px;
  width: 100%;
  color: #000;
}
.carousel-item.size-small {
  min-width: 194px;
}
.carousel-item.size-medium {
  min-width: 225px;
}
.navbar-collapse {
  padding: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-collapse {
  max-height: none;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    
    header{
        padding: 0 0 10% 0;
    }
    #footer{
        padding: 20% 0 0 0;
    }
  #top-megamenu-nav .nav .dropdown {
    border-right: none;
    width: 100%;
  }
  #top-megamenu-nav .nav > li {
    border-right: none;
    width: 100%;
  }
  #top-megamenu-nav .nav .dropdown-menu {
    min-width: 0;
    max-width: none;
    width: 100%;
    background-color: #FFF;
  }
  .top-bar > .container > div {
    margin: 10px 0;
  }
  .top-bar ul.right,
  .top-bar {
    text-align: center!important;
  }
  .sidebar {
    width: 100%!important;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .top-bar > .container > div {
    margin: 10px 0;
  }
  .top-bar > .container > div > ul > li > a {
    font-size: 12px !important;
    padding: 0 9px !important;
  }
  .logo > a {
    display: block;
    margin-bottom: 20px;
  }
  .logo > a > svg {
    display: block;
    margin: 0 auto;
  }
  header .top-search-holder {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .top-search-holder .contact-row {
    text-align: center;
    margin-bottom: 20px;
  }
  header .top-search-holder .contact-row > div,
  header .top-search-holder .contact-row .phone,
  header .top-search-holder .contact-row .contact {
    margin: 0;
    margin-bottom: 5px;
    display: block !important;
  }
  header .top-cart-holder .basket .dropdown-menu {
    width: 300px;
    left: -136px;
  }
  header .top-cart-holder .basket .checkout .le-button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .top-cart-row-container {
    text-align: center;
  }
  .sidemenu-holder {
    width: 33.333% !important;
  }
  .homebanner-holder {
    width: 66.6667% !important;
  }
  #footer .sub-form-row input {
    width: 72%;
  }
  #footer .link-list-row .container > div:first-child {
    margin-bottom: 20px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #owl-recently-viewed .owl-item .product-item-holder,
  #owl-recently-viewed-2 .owl-item .product-item-holder,
  #owl-recommended-products .owl-item .product-item-holder {
    max-width: none !important;
    width: 100%;
  }
  #footer .sub-form-row input {
    width: 75% !important;
  }
  #footer .link-list-row .link-widget {
    width: 30.33% !important;
  }
  header .logo svg {
    width: 100% !important;
  }
  header .top-search-holder {
    margin: 0;
    width: 41.6667% !important;
  }
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .owl-buttons {
    display: block;
  }
}
