.body{
background-color: white;
}
.top-bar{
margin: 10px 10px;
background-color: white;
}
.top-bar ul {
display: block;
}
.top-bar ul li{
background-color: white;
padding: 10px 0px;
/*width: 18%;*/
text-align: center;
}
#top-banner-and-menu{
margin: 0px 0px;
}
.search-div {
height: 80%;
}
.header, .body {
height: 50%;
min-height: 80%;
}
.footer-social {
float: right;
}
.footer-social li {
    display:inline;
    padding: 0px 10px;
}
.mobile-search{
    display: none
}
.listing-main h2{
    font-size: 1.8em;
}
.listing-center, .listing-main {
    text-align: left;
}
@media (max-width: 768px){
    .footer-social li{
        text-align: center
    }
    .footer-social {
        width: 100%;
        color: white;
    }
    .search-button {
        visibility: hidden;
    }
    .mobile-search {
        display: block;
        /*visibility: visible; */
        color: white;
        font-size: 1.5em;
        background-color: #3498db;
        margin: 10px auto -10px; 
        padding: 5px 30px;
        border-radius: 5px;
        border: 0px;
        text-align: center;
        min-width: 30%;
        width: 40%;
    }
    .listing-doctor {
        padding-left: 10px; 
    }
    .listing-center, .listing-main {
        text-align: center;
    }
    .listing-main h2{
        font-size: 1.625em;
    }
    .price-current {
        max-width: 60%;
        width: 60%;
        float: left;
        padding: 0px 2%;
    }
}